<div class="standings">
    <table>
        <tr>
            <th>Name</th>
            <th>Record</th>
        </tr>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.record %></td>
            </tr>
        <% end %>
    </table>
</div>

<div class="add-score">
    <%= form_tag(matches_url, method: :post) do %>
        <%= label_tag :player_one, 'Player one' %>
        <%= text_field_tag :player_one %>
        <%= text_field_tag :player_one_score %>

        <%= label_tag :player_two, 'Player two' %>
        <%= text_field_tag :player_two %>
        <%= text_field_tag :player_two_score %>
        <%= submit_tag 'Add Game' %>
    <% end %>
</div>
