<h2>Log an offline game</h2>
<%= simple_form_for game, url: games_path do |f| %>
  <%= f.error :base %>
  <%= f.input :home_user_score, label: 'Your score:' %>
  <%= f.input :away_user_id, as: :select, label: 'Your opponent:', collection: game.available_opponents, include_blank: false %>
  <%= f.input :away_user_score, label: 'Opponent\'s score:'%>
  <%= f.submit 'Save Game' %>
<% end %>
