<tr <%= "class=top-3" if leaderboard_user_counter <= 2 %>>
  <td class="left"><%= leaderboard_user_counter + 1 %></td>
  <td class="left"><%= leaderboard_user.full_name %></td>
  <td><%= leaderboard_user.elo %></td>
  <td><%= leaderboard_user.wins %></td>
  <td><%= leaderboard_user.losses %></td>
</tr>
