<!DOCTYPE html>
<html>
<head>
  <title>Sidespin</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <a href="<%= root_url %>" class="logo"><span class="ball"></span> sidespin</a>

                <% if user_signed_in? %>
                    <div class="user-info">
                        <%= link_to 'Logout', destroy_user_session_path %>
                    </div>
                <% end %>
            </div>
        </header>
        <section id="main">
            <% if notice %>
                <p class="container alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
                <p class="container alert alert-danger"><%= alert %></p>
            <% end %>

            <div class="main-container container">
                <%= yield %>
            </div>
        </section>
        <footer id="footer">
            <div class="container">
                &copy; Copyright notice because it's cool
            </div>
        </footer>
    </div>
</body>
</html>
